@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    <div id="headerwrap">
        
    </div>
</header>


<div class="text-center">
    <img src="images/happychick.jpg" alt="Happy chick" width="100%">
</div>


<body>
<h2>Enter your email address here and receive the first chapter in my guide to fix painful periods!</h2>


<form class="form-center" method="post">
    <div class="form-center">
        <div asp-validation-summary="All"></div>

        <input asp-for="Email.Email" placeholder="Your email address">
        <span asp-validation-for="Email.Email"></span>
        <input type="submit" value="Submit">
    </div>    
</form> 
</body>