@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
    <div id="headerwrap">
        
    </div>
</header>


<div class="text-center">
    <img src="images/happychick.jpg" alt="Happy chick" width="100%">
</div>
