@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    <div id="headerwrap">
        
    </div>
</header>


<div class="text-center">
    <img src="images/happychick.jpg" alt="Happy chick" width="100%">
</div>


<body>
<h2>Enter your email address here and receive the first chapter in my guide to fix painful periods!</h2>


<form action="/action_page.php">
    <div class="form-center">
        <input type="text" id="email" name="email" value="Your email address">
        <input type="submit" value="Submit">
    </div>    
</form> 

@*<p>If you click the "Submit" button, the form-data will be sent to a page called 
    "/action_page.php".</p>*@

</body>

